@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-primary: #e64f5a;
}

* {
  @apply selection:bg-red-300;
}

body {
  font-family: "Roboto", sans-serif;
}

.animated-wrapper-open {
  animation: slideUp 0.2s ease-out forwards;
}

.animated-wrapper-close {
  animation: slideDown 0.2s ease-in forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.input {
  @apply mt-7 w-[100%] h-15 p-2 text-xl border-black border-b-2 order-2 bg-transparent placeholder-transparent focus:outline-none;
}

.input-group {
  @apply relative flex flex-col w-[100%] focus-within:after:w-[100%];
}

.input-group:after {
  @apply content-[""] absolute bottom-0 left-0 bg-[var(--color-primary)] w-0 h-[2px];
  transition: width 0.3s;
}

.input-label-birth,
.input-label {
  @apply absolute cursor-default order-1 font-semibold;
}

.input-label,
.input-label-birth {
  @apply left-1;
}

.input-label-birth {
  @apply top-[20%];
}

.input-label {
  @apply top-[50%];
  transition: top 0.3s, left 0.3s, color 0.3s;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  top: 20%;
}
.input:focus + .input-label {
  color: var(--color-primary);
}

.input:focus + .input-label-birth {
  color: var(--color-primary);
}
