.header {
  @apply fixed flex flex-col p-3 md:flex-row md:justify-between md:items-center h-16 top-0 left-0 w-[100%] z-1 bg-white;
}

.header-brand {
  @apply h-[2rem] cursor-pointer;
}

.header-nav-list {
  @apply flex flex-col items-end md:flex-row md:items-center md:h-16;
}

.header-nav-list_item {
  @apply cursor-pointer p-2;
}
.header-nav-list > li {
  @apply font-semibold list-none;
}

.header-main {
  @apply flex flex-row justify-between w-[100%];
}

.header-ham {
  @apply block md:hidden relative h-[2rem] w-[2rem] cursor-pointer;
}

.header-ham span {
  @apply block bg-[var(--color-primary)] w-[100%] h-[4px] mt-[-2px] absolute left-0 top-[50%];
}

.header-ham:before,
.header-ham:after {
  content: "";
  @apply block bg-[var(--color-primary)] w-[100%] h-[4px] absolute left-0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.header-ham:before {
  @apply top-[2px] mt-[-2px];
}

.header-ham:after {
  @apply bottom-[2px] mb-[-2px];
}

.visible .header-ham span {
  @apply bg-transparent;
}

.visible .header-ham:before {
  @apply top-[50%];
  transform: rotate(45deg);
}

.visible .header-ham:after {
  @apply bottom-[50%];
  transform: rotate(-45deg);
}

.header-nav-list_link {
  @apply cursor-pointer text-dark-400 text-size-[16px] h-[100%] w-[100%]  transition-all hover:(text-red-500);
}
.header-nav-list > li {
  @apply list-none;
}

.logout-btn {
  @apply text-[var(--color-primary)] ml-8;
}

@media screen and (max-width: 768px) {
  .header-nav-list {
    @apply absolute right-[-100%] top-[100%] min-w-[15rem] w-[50%] h-[calc(100vh-100%)] m-0 bg-white;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
  }
  .visible .header-nav-list {
    right: 0%;
  }

  .header-nav-list > li {
    @apply p-5 w-[100%] text-right;
  }
}
