.update-profile-dialog {
  @apply z-100 relative bg-white  w-[50vw] rounded-[5px] pt-[4rem] pb-[2rem] px-[2rem]  flex flex-col justify-center items-center;
  opacity: 1;
}

.update-profile-dialog-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  @apply flex-col justify-center items-center absolute w-screen h-screen top-0 left-0;
}

.update-profile-form {
  @apply flex flex-col justify-evenly items-center w-[90%] transition-all h-[100%] mt-8;
}

.update-profile-dialog-close-btn {
  @apply text-3xl font-bold absolute top-[10px] right-[20px];
}

.update-profile-dialog-heading {
  @apply text-3xl text-dark-600;
}

.update-profile-form-submit-btn {
  @apply h-15 w-[100%] text-2xl text-white bg-dark-800 my-8 py-4 px-20 rounded-[5px] shadow-sm shadow-dark-500 hover:(transform bg-dark-600 shadow-2xl shadow-dark-800 -translate-y-1) active:(transform bg-dark-100 shadow-2xl shadow-dark-800 -translate-y-[0.5]) transition-all;
}
